<div class="concert-list-white">
	<%= form_tag("/concerts/upcoming", method: 'get') do %>
		<%= label_tag(:ticket_price, "Ticket Price:") %>
		<%= text_field_tag(:ticket_price) %>
  		<%= submit_tag("Filter") %>
	<% end %>
</div>

<br>
<% if @concert != [] %>
	<% if @price != nil && @price != 0 %>
		<% @filter.each_with_index do |conc, i| %>
		<div class="<%= color_class(i%2) %>">

			<div class="<%= artist_class(i%2) %>"><%= conc.artist.upcase %></div>
			
			<div class="city"><%= conc.city.upcase %></div>
			
			<div class="date"><%= pretty_date(conc.date).upcase %></div>
			<br>
			<a href=<%= concert_path(conc) %> class="btn <%= button_class(i%2) %>">DETAILS</a>
			<br>
		</div>
		<br>
		<% end %>
	<% else %>
		<% @concert.each_with_index do |conc, i| %>
		<div class="<%= color_class(i%2) %>">

			<div class="<%= artist_class(i%2) %>"><%= conc.artist.upcase %></div>
			
			<div class="city"><%= conc.city.upcase %></div>
			
			<div class="date"><%= pretty_date(conc.date).upcase %></div>
			<br>
			<a href=<%= concert_path(conc) %> class="btn <%= button_class(i%2) %>">DETAILS</a>
			

		</div>
		<br>
		<% end %>
		<br>
	<% end %>
<% else %>
	Sorry! There are not concerts available! Please come again later.
<% end %>